pandas>=2.0.0
matplotlib>=3.7.0
psycopg2-binary>=2.9.6
sqlalchemy>=2.0.0
langchain>=0.0.300
langchain_community>=0.0.300
langchain_openai>=0.0.1
openai>=1.0.0
onnxruntime>=1.14.1
chromadb>=0.4.0
#python-dotenv>=1.0.0
streamlit>=1.20.0